<?xml version="1.0" encoding="UTF-8"?>
<suite name="Mobile OLXID" verbose="2" parallel="tests" thread-count="4">  
    <test name="Daftar Apps OLXID" preserve-order="false">
       <parameter name="udid" value="192.168.99.101:5555"/> 
       <classes>
          <class name="scenarios.DaftarPageTest"/>
       </classes>
    </test>
    <test name="Login Apps OLXID" preserve-order="false">
       <parameter name="udid" value="192.168.99.102:5555"/> 
       <classes>
          <class name="scenarios.LoginPageTest"/>
       </classes>
    </test>
    <test name="Search Apps OLXID" preserve-order="false">
       <parameter name="udid" value="192.168.99.103:5555"/> 
       <classes>
          <class name="scenarios.HeaderPageTest"/>
       </classes>
    </test>
    <test name="Listing Page Apps OLXID" preserve-order="false">
       <parameter name="udid" value="192.168.99.105:5555"/> 
       <classes>
          <class name="scenarios.ListingPageTest"/>
       </classes>
    </test>
</suite>